<article class="post">
  <div class="card-header">
    <a href="/post/{{id}}" class="card-title">{{title}}</a>
    <div class="meta">
      <p>
        {{user.username}}
        on
        {{format_date created_at}}
        {{!-- |
      <a href="/post/{{id}}">{{comments.length}}
        {{format_plural "comment" comments.length}}</a> --}}
      </p>
    </div>
  </div>
  <div class="card-p">
    <span>({{post_url}})</span>
  </div>
</article>